body{
    font-family: 'Alata', sans-serif;
}

h1{
    text-align:center;
}
#map {
    margin-right: auto;
    margin-left: auto;
    height: 400px;  
    width: 400px;;  
}

.weatherReport{
    text-align:center;
    list-style-type:none;
}

#js-form{
    text-align:center;
    margin: 30px;
}

.inputLabel{
    font-size: 20px;
}

li{
    border: black 1px solid;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}
h3{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
