h1{
    text-align:center;
}
#map {
    margin-right: auto;
    margin-left: auto;
    height: 400px;  
    width: 400px;;  
}

.weatherReport{
    text-align:center;
}

#js-form{
    text-align:center;
    margin: 30px;
}